<!doctype html>
<html lang="ko">
<head>
	<style>
		.dark { background-color: #000000; color: white; }
		a:link { color : white; }
		a:visited { color : white; }
		a:hover { color : pink; }
		a:active { color : red; }
	</style>
</head>

<body class="dark">
{% include "menu.jinja2" %}
</body>
</html>
